.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.top-header h1 {
    font-size: 28px;
    color: white;
}

.top-header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    padding: 6px 12px;
    border: 1px solid red;
    color: red;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}